@model IEnumerable<Users_WebApp.Models.DomainModels.GetProductReviewsModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Product Reviews</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductReviewID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductReviewHeader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductReviewContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductReviewDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductReviewID)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.ProductReviewHeader)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductReviewContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductReviewDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductReviewID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductReviewID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductReviewID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
